In [ ]:
import numpy as np
import pandas as pd
dataset = pd. read_csv ("train.csv")
dataset.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [ ]:
dataset.shape

(31962, 3)

In [ ]:
dataset.describe()
dataset["label"] = dataset['label'].astype('category')

In [ ]:
dataset.describe()

                 id
count  31962.000000
mean   15981.500000
std     9226.778988
min        1.000000
25%     7991.250000
50%    15981.500000
75%    23971.750000
max    31962.000000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  category
 2   tweet   31962 non-null  object
dtypes: category(1), int64(1), object(1)
memory usage: 530.9+ KB

In [ ]:
#Remove the special characters, numbers etc.
#Lemmatize the text
from nltk.stem import WordNetLemmatizer
from nltk import tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
import re

In [ ]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:

dataset['text_lem'] = [''.join([WordNetLemmatizer().lemmatize(re.sub('[^A-Za-z]',' ',text)) for text in lis]) for lis in dataset['tweet']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split (dataset['text_lem'], dataset['label'])

In [ ]:
vect = TfidfVectorizer(ngram_range= (1,4)).fit(X_train)
vect_transformed_X_train =vect.transform(X_train)
vect_transformed_X_test= vect.transform(X_test)
print (vect_transformed_X_train)

  (0, 500956)	0.13796707895057925
  (0, 500697)	0.06439243978772206
  (0, 500531)	0.14782767558997859
  (0, 500525)	0.12643092041300788
  (0, 499153)	0.1035752552815229
  (0, 497627)	0.14782767558997859
  (0, 497625)	0.1420595963211929
  (0, 497580)	0.10752285323387577
  (0, 484540)	0.08786039076904494
  (0, 436697)	0.14782767558997859
  (0, 436696)	0.14782767558997859
  (0, 436693)	0.12119972878037602
  (0, 433347)	0.14782767558997859
  (0, 433346)	0.14782767558997859
  (0, 433343)	0.1420595963211929
  (0, 428002)	0.0672416905771759
  (0, 427182)	0.14782767558997859
  (0, 427181)	0.1420595963211929
  (0, 427138)	0.10322265576796806
  (0, 426466)	0.14782767558997859
  (0, 426465)	0.14782767558997859
  (0, 426464)	0.14782767558997859
  (0, 425071)	0.10858347797335349
  (0, 364014)	0.14782767558997859
  (0, 364013)	0.14782767558997859
  :	:
  (23970, 402529)	0.20333685699069146
  (23970, 402528)	0.20333685699069146
  (23970, 402527)	0.18183962499124628
  (23970, 377693)	0.20333685699069146
  (23970, 377692)	0.19540286827912468
  (23970, 377691)	0.19540286827912468
  (23970, 377678)	0.17390563627967953
  (23970, 274191)	0.20333685699069146
  (23970, 274190)	0.1897736137028131
  (23970, 273406)	0.07613676223450026
  (23970, 212073)	0.20333685699069146
  (23970, 212072)	0.20333685699069146
  (23970, 212071)	0.20333685699069146
  (23970, 211142)	0.05909432739659521
  (23970, 193109)	0.20333685699069146
  (23970, 193108)	0.20333685699069146
  (23970, 193107)	0.20333685699069146
  (23970, 192331)	0.09802001450640274
  (23970, 159001)	0.20333685699069146
  (23970, 158705)	0.08725691469661105
  (23970, 119658)	0.19540286827912468
  (23970, 106704)	0.20333685699069146
  (23970, 106703)	0.20333685699069146
  (23970, 106702)	0.20333685699069146
  (23970, 106662)	0.15240840428023442

In [ ]:
print(vect_transformed_X_test)

  (0, 526693)	0.1330463906301174
  (0, 526190)	0.1617921910071486
  (0, 512488)	0.21498643073255297
  (0, 512196)	0.2685724854088432
  (0, 511646)	0.2480106586002922
  (0, 507208)	0.24578456025169124
  (0, 484540)	0.055368507605035165
  (0, 456502)	0.12684820638904623
  (0, 455855)	0.06403573758827091
  (0, 451668)	0.20664486913569036
  (0, 451438)	0.16847885257026377
  (0, 428002)	0.0635622950827377
  (0, 380190)	0.2291356109152004
  (0, 355704)	0.2685724854088432
  (0, 355512)	0.2291356109152004
  (0, 308163)	0.11586651787687065
  (0, 307924)	0.23902550343079873
  (0, 299102)	0.24578456025169124
  (0, 299097)	0.15845581709945797
  (0, 298846)	0.14516927731840723
  (0, 233839)	0.2219206987400591
  (0, 192331)	0.1347241171413647
  (0, 189099)	0.22714249019350333
  (0, 74273)	0.19457043286948372
  (0, 60297)	0.15742973214391226
  :	:
  (7990, 446347)	0.2594808951669915
  (7990, 446119)	0.15411764563952646
  (7990, 427670)	0.2594808951669915
  (7990, 425071)	0.19059582688034302
  (7990, 398592)	0.20076586126639986
  (7990, 396440)	0.09582585081485914
  (7990, 393312)	0.22819876785000007
  (7990, 340520)	0.18064899192768485
  (7990, 340457)	0.1155995469023118
  (7990, 304081)	0.1505321074796067
  (7990, 200486)	0.1749709521284253
  (7990, 198019)	0.22819876785000007
  (7990, 197956)	0.16931444172352095
  (7990, 180981)	0.15321608534408462
  (7990, 152297)	0.21691246984959045
  (7990, 148384)	0.07570330597377346
  (7990, 127867)	0.13680940864898675
  (7990, 60543)	0.22192331899033074
  (7990, 60297)	0.14616569430320484
  (7990, 31330)	0.2421726581764518
  (7990, 30790)	0.09819334781016703
  (7990, 30071)	0.19849424978070707
  (7990, 20073)	0.2594808951669915
  (7990, 20070)	0.23660065041622835
  (7990, 19538)	0.07396198795709427

In [ ]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import f1_score
#F1 score is used as an evaluation measure when the data is skewed like in this case, where the number of hate speech tweets are very less, accuracy cannot
#be relied upon.

In [ ]:
#Support Vector Machine
modelSVC = SVC(C=100).fit(vect_transformed_X_train,y_train)
modelSVC

SVC(C=100)

In [ ]:
predictionsSVC= modelSVC.predict(vect_transformed_X_test)
sum(predictionsSVC==1), len(y_test), f1_score(y_test, predictionsSVC)

(290, 7991, 0.6398104265402844)

In [ ]:
#Logistic Regression
modelLR= LogisticRegression(C=100).fit(vect_transformed_X_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
predictionsLR= modelLR.predict(vect_transformed_X_test)
sum(predictionsLR==1), len(y_test), f1_score(y_test, predictionsLR)

(434, 7991, 0.7064777327935222)

In [ ]:
#Navie Bayes

In [ ]:
modelNB = MultinomialNB(alpha=1.7).fit(vect_transformed_X_train,y_train)

In [ ]:
predictionsNB= modelNB.predict(vect_transformed_X_test)
sum(predictionsNB==1), len(y_test), f1_score(y_test, predictionsNB)

(55, 7991, 0.18062397372742198)

In [ ]:
#Random Forest
modelRF = RandomForestClassifier(n_estimators=20).fit(vect_transformed_X_train,y_train)

In [ ]:
predictionsRF =modelRF.predict(vect_transformed_X_test)
sum(predictionsRF==1), len(y_test), f1_score(y_test, predictionsRF)

(213, 7991, 0.544980443285528)

In [ ]:
#Stochastic Gradient Descent

In [ ]:
modelSGD = SGDClassifier (loss='hinge', penalty='l2', alpha=1e-3).fit(vect_transformed_X_train,y_train)

In [ ]:
predictionsSGD =modelSGD.predict(vect_transformed_X_test)
sum(predictionsSGD==1), len(y_test), f1_score(y_test, predictionsSGD)

(20, 7991, 0.06968641114982578)

In [ ]:
#Based on all the above models trained we conclude that the Logistic regression is the better model amoung them
#so we use this model as our final model.

In [ ]:
# Logestice Regression prediction for testing data
test= pd.read_csv ("test.csv")

In [ ]:
test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [ ]:
test.tail()

          id                                              tweet
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17197 entries, 0 to 17196
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      17197 non-null  int64
 1   tweet   17197 non-null  object
dtypes: int64(1), object(1)
memory usage: 268.8+ KB

In [ ]:
test.describe()

In [ ]:
test.columns

Index(['id', 'tweet'], dtype='object')

In [ ]:
test['text_lem']=[''.join([WordNetLemmatizer().lemmatize(re.sub('[^A-Za-z]',' ',text)) for text in lis]) for lis in test['tweet']]
vect = TfidfVectorizer(ngram_range= (1,4)).fit(dataset['text_lem'])
vect_transformed_train= vect.transform(dataset['text_lem'])
vect_transformed_test= vect.transform(test['text_lem'])

In [ ]:
FinalModel = LogisticRegression(C=100).fit(vect_transformed_train,dataset['label'])

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
predictions = FinalModel.predict(vect_transformed_test)

In [ ]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.8/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.8/dist-packages (from textblob) (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (4.64.1)

In [ ]:
from textblob import TextBlob
def getSubjectivity(tweet) :
    return TextBlob(tweet).sentiment.subjectivity
def getPolarity (tweet) :
    return TextBlob(tweet).sentiment.polarity
def getAnalysis (score) :
    return 'Neutral' if (score == 0) else ('Negative' if (score < 0) else 'Positive')

In [ ]:
#polarity output

In [ ]:
test['Subjectivity']= test['tweet'].apply(getSubjectivity)
test['Polarity']= test['tweet'].apply(getPolarity)
test['Analysis'] = test['Polarity'].apply(getAnalysis)

In [ ]:
test

,id,tweet,text_lem,Subjectivity,Polarity,Analysis
0,31963,#studiolife #aislife #requires #passion #dedic...,studiolife aislife requires passion dedic...,0.000000,0.000000,Neutral
1,31964,@user #white #supremacists want everyone to s...,user white supremacists want everyone to s...,0.227273,0.068182,Positive
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe ways to heal your acne altwaystohe...,0.500000,0.781250,Positive
3,31966,is the hp and the cursed child book up for res...,is the hp and the cursed child book up for res...,1.000000,0.500000,Positive
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",rd bihday to my amazing hilarious nephew...,0.633333,0.408333,Positive
...,...,...,...,...,...,...
17192,49155,thought factory: left-right polarisation! #tru...,thought factory left right polarisation tru...,0.000000,0.000000,Neutral
17193,49156,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid hairflip neverre...,0.000000,0.000000,Neutral
17194,49157,#hillary #campaigned today in #ohio((omg)) &am...,hillary campaigned today in ohio omg am...,0.000000,0.000000,Neutral
17195,49158,"happy, at work conference: right mindset leads...",happy at work conference right mindset leads...,0.767857,0.542857,Positive
17196,49159,"my song ""so glad"" free download! #shoegaze ...",my song so glad free download shoegaze ...,0.900000,0.500000,Positive

In [ ]:
#positive means (0.1 to 1)
test.loc [test['Analysis']=="Positive"]

,id,tweet,text_lem,Subjectivity,Polarity,Analysis
1,31964,@user #white #supremacists want everyone to s...,user white supremacists want everyone to s...,0.227273,0.068182,Positive
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe ways to heal your acne altwaystohe...,0.500000,0.781250,Positive
3,31966,is the hp and the cursed child book up for res...,is the hp and the cursed child book up for res...,1.000000,0.500000,Positive
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",rd bihday to my amazing hilarious nephew...,0.633333,0.408333,Positive
5,31968,choose to be :) #momtips,choose to be momtips,1.000000,0.500000,Positive
...,...,...,...,...,...,...
17187,49150,loving lifeðºð¸âï¸ð #createyourfutu...,loving life createyourfutu...,0.675000,0.275000,Positive
17189,49152,learn how to think positive. #positive #ins...,learn how to think positive positive ins...,0.545455,0.227273,Positive
17190,49153,"we love the pretty, happy and fresh you! #teen...",we love the pretty happy and fresh you teen...,0.766667,0.412500,Positive
17195,49158,"happy, at work conference: right mindset leads...",happy at work conference right mindset leads...,0.767857,0.542857,Positive
17196,49159,"my song ""so glad"" free download! #shoegaze ...",my song so glad free download shoegaze ...,0.900000,0.500000,Positive

In [ ]:
#Negative range (-1 to 8)
test.loc[test['Analysis']=="Negative"]

,id,tweet,text_lem,Subjectivity,Polarity,Analysis
6,31969,something inside me dies ð¦ð¿â¨ eyes nes...,something inside me dies eyes nes...,0.700000,-0.250000,Negative
8,31971,@user @user @user i will never understand why...,user user user i will never understand why...,0.450000,-0.037500,Negative
14,31977,i'll stand behind this #guncontrolplease #se...,i ll stand behind this guncontrolplease se...,0.700000,-0.400000,Negative
16,31979,@user got my @user limited edition rain or sh...,user got my user limited edition rain or sh...,0.142857,-0.139509,Negative
23,31986,never been this down on myself in my entire li...,never been this down on myself in my entire li...,0.456944,-0.077778,Negative
...,...,...,...,...,...,...
17158,49121,"weekend visits for these beauties, little eric...",weekend visits for these beauties little eric...,0.500000,-0.187500,Negative
17163,49126,@user @user i'd be ashamed of my state if i to...,user user i d be ashamed of my state if i to...,1.000000,-1.000000,Negative
17167,49130,people do anything for fucking attention nowad...,people do anything for fucking attention nowad...,0.800000,-0.600000,Negative
17175,49138,spread love not hateâ¤ï¸ðððð #pr...,spread love not hate pr...,0.675000,-0.125000,Negative
17188,49151,"black professor demonizes, proposes nazi style...",black professor demonizes proposes nazi style...,0.216667,-0.083333,Negative

In [ ]:
#Netural means (0)
test.loc [test['Analysis']=="Neutral"]

,id,tweet,text_lem,Subjectivity,Polarity,Analysis
0,31963,#studiolife #aislife #requires #passion #dedic...,studiolife aislife requires passion dedic...,0.0,0.0,Neutral
7,31970,#finished#tattoo#inked#ink#loveitâ¤ï¸ #â¤ï¸...,finished tattoo inked ink loveit ...,0.0,0.0,Neutral
15,31978,"i ate,i ate and i ate...ðð #jamaisasth...",i ate i ate and i ate jamaisasth...,0.0,0.0,Neutral
18,31981,"ð­ðð #girls #sun #fave @ london, uni...",girls sun fave london uni...,0.0,0.0,Neutral
21,31984,@user @user @user #levyrroni #recuerdos mem...,user user user levyrroni recuerdos mem...,0.0,0.0,Neutral
...,...,...,...,...,...,...
17182,49145,when ur the joke ur defensive towards everythi...,when ur the joke ur defensive towards everythi...,0.0,0.0,Neutral
17191,49154,2_damn_tuff-ruff_muff__techno_city-(ng005)-web...,damn tuff ruff muff techno city ng web...,0.0,0.0,Neutral
17192,49155,thought factory: left-right polarisation! #tru...,thought factory left right polarisation tru...,0.0,0.0,Neutral
17193,49156,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid hairflip neverre...,0.0,0.0,Neutral
17194,49157,#hillary #campaigned today in #ohio((omg)) &am...,hillary campaigned today in ohio omg am...,0.0,0.0,Neutral

In [ ]:
#Prediction output saved into csv format

In [ ]:
output=pd.DataFrame({"id":test["id"], 'Tweet' : test['tweet'], 'Analysis': test['Analysis']})
output.head()

      id                                              Tweet  Analysis
0  31963  #studiolife #aislife #requires #passion #dedic...   Neutral
1  31964   @user #white #supremacists want everyone to s...  Positive
2  31965  safe ways to heal your #acne!!    #altwaystohe...  Positive
3  31966  is the hp and the cursed child book up for res...  Positive
4  31967    3rd #bihday to my amazing, hilarious #nephew...  Positive

In [ ]:
file_name = 'predictions.csv'
test.to_csv (file_name, index=False)

In [ ]:
#Here testng data having 17197 entries to predict, here we predicted using logistic regression with polarity value. the given sentence is positive or negative and
#Neutral and we stored the output into csv format